.wrapper {
  width: 100%;
  height: 64px;
  padding: 16px 0;
}

.logo {
  height: 100%;
  width: 156px;
  display: block;
  background-image: url("../../icons/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
