.wrapper {
  background-color: #1970b7;
  height: 64px;
  padding: 16px;
}

.inner {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin: auto;
}

.logo {
  height: 100%;
  width: 156px;
  display: block;
  background-image: url("../../icons/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
