.wrapper {
  position: relative;
  width: 100%;
  height: 44px;
}

.input {
  width: 100%;
  height: 44px;
  border: 1px solid #d9d9d9;
  outline: none;
  padding: 2px;
  padding-left: 16px;
}

.input:focus {
  box-shadow: 0 0 0 3px rgb(51 102 178 / 24%);
  outline: none;
  border-radius: 2px;
  outline-offset: 0px;
}

.loading {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
