.wrapper {
  /* background-color: aqua; */
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1970b7;
  padding: 32px;
  padding-bottom: 0;
}

.heading {
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
  margin-top: 0;
}

.searchWrapper {
  background-color: #eece6a;
  height: 100%;
  width: 100%;
  max-width: 1100px;
  padding: 16px;
}

.ctas {
  display: flex;
  flex-direction: column;
}

.searchButton {
  background-color: #01874c;
  color: white;
  height: 44px;
  margin-left: 0;
  width: 100%;
  margin-top: 16px;
  border: none;
}

@media only screen and (min-width: 1024px) {
  .top {
    padding-bottom: 32px;
  }

  .ctas {
    flex-direction: row;
  }

  .searchButton {
    width: 135px;
    margin-left: 16px;
    margin-top: 0;
  }
}
